
@{
    ViewBag.Title = "Monitor - result";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="well top-buffer greencolor">Number of received messages: <span class="result">@ViewBag.Count</span></div>


